.container {
  margin: 0 auto;
  width: 960px;
  background: #fff;
  font-family: Verdana, Arial, nMicrosoft JhengHei, Microsoft YaHei;
  font-size: 14px;
  line-height: 1.5;
}
table {
  width: 100%;
  border: 1px solid #e1e2e4;
  border-spacing: 0;
}
tr {
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
th {
  width: 88px;
  height: 50px;
}
td {
  width: 872px;
  color: #999999;
  padding: 0;
}
td div {
  width: 14.286%;
  height: 50px;
  box-sizing: border-box;
}
.price div:hover {
  background: #fff9e3;
  border: 1px solid #fe8b88;
}
.price span {
  color: #444;
  margin-right: 5px;
}
.dFlex {
  display: flex;
  justify-content: space-around;
  line-height: 50px;
}
.textLeft {
  text-align: left;
  font-weight: 100;
  color: #666666;
}
.textRight {
  text-align: right;
  font-weight: 100;
  color: #666666;
}
.titleDiv {
  text-align: center;
  display: inline;
}
.pd-4 {
  height: 42px;
  width: 80px;
  padding: 4px;
}
.bgGr {
  background: #eaedf2;
}
.dateCol {
  background: #f1f1f1;
  color: #666;
  font-weight: 400;
  padding: 0;
}
.borderRB {
  border: solid #e1e2e4;
  border-width: 0 1px 1px 0;
  border-spacing: 0;
}
.borderR {
  border-right: 1px solid #e1e2e4;
  border-spacing: 0;
}
.borderB {
  border-bottom: 1px solid #e1e2e4;
  border-spacing: 0;
}
.cheapest {
  position: relative;
}
.cheapest:before {
  content: "最便宜";
  position: absolute;
  top: -16px;
  left: 20px;
  color: #ff8e26;
  font-size: 12px;
}
.cheapest:after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  top: -1px;
  left: 0;
  border-top: 10px solid #ff8e26;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ff8e26;
}
.newYear::before {
  content: "2018";
  font-size: 12px;
  color: #24a07c;
  display: block;
  height: 12px;
  padding-left: 29px;
  padding-bottom: 5px;
  margin-top: -11px;
}
